# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ASD.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\neptu\OneDrive\Рабочий стол\ASD\.idea\.idea.ASD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
